#contact {
    height: calc(100vh - 6rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
}
.contactpage{
    display: inline-flex;
   
}
.contactcontent{
    left: 3rem;
    padding: 2rem 2rem ;
    position: relative;
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1.5px;
    top: 6rem;
    border: 0.1rem solid crimson;
    box-shadow: 0 0 3rem 0 crimson;
    display: inline-block;
    height: fit-content;
}
.fb{
    height: 10vh;
    width: 4.5rem;
}
.btncv{
    left: 10rem;
    width: fit-content;
    justify-content: center;
    display: flex;
    padding: 1rem;
    margin-left: 9rem;
    border-radius: 2rem 2rem;
    background: crimson;
}
.cv{
    color: white;
    font-weight: 500;
}